@model IEnumerable<CrazyQuiz.Models.Answer>

<h1>Manage Answers</h1>

<p>
    <a asp-action="CreateAnswer"  class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Answer Text</th>
            <th>Question Text</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in Model)
        {
            <tr>
                <td>@answer.Text</td>
                <td>@answer.Question.Text</td>
                <td>
                    <a asp-action="DetailsAnswer" asp-route-id="@answer.AnswerId">Details</a> |
                    <a asp-action="EditAnswer" asp-route-id="@answer.AnswerId">Edit</a> |
                    <a asp-action="DeleteAnswer" asp-route-id="@answer.AnswerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
